@use 'src/theme.module' as theme;

.input {
  width: 100%;
  min-height: 2.375rem;
  max-height: 48px;
  color: theme.$darkGray;
  outline: none;
  line-height: 2.375rem;
  font-size: 1rem;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  padding: 0.25rem 0.375rem;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  border: 0.125rem solid theme.$lightGray;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover {
    outline: 0px;
  }

  &:focus {
    border: 0.125rem solid theme.$darkGray;
    outline: currentcolor auto 0.3125rem;
    outline-offset: -0.125rem;
  }

  &:focus-visible {
    outline-offset: 0;
  }

  &:active {
    border: 0.125rem solid theme.$darkGray;
    outline: 0px;
  }

  &::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--color-mediumGray);
  }
}
