@use 'src/theme.module' as theme;

.navBar {
  display: flex;
  flex-direction: row;
  max-height: 60px;
  background: theme.$white;
  height: 3.5rem;
  z-index: 10;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px 0px;
  color: theme.$white;
  padding: 0px 1rem;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  position: relative;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: map-get(theme.$margins, large) * 2;
}

.navItem {
  color: theme.$darkGray;
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  height: 3.5rem;
  padding: 0px 0.5rem;
  font-weight: bold;
  letter-spacing: 0.2px;
  margin: 0px 0.5rem 0px 0px;
  cursor: pointer;
  overflow: visible;

  &:hover {
    color: theme.$primaryColor;
  }
}

.navItemSelected {
  color: theme.$primaryColor;
  border-width: 0px 3px 3px;
  border-right-style: solid;
  border-left-style: solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-style: initial;
  border-top-color: initial;
  border-bottom-style: solid;
  border-bottom-color: theme.$primaryColor;
  transition: opacity 0.2s ease 0s;
}
