@use 'src/theme.module' as theme;

.gearIcon {
  height: 24px;
  width: auto;
}

.menuContainer {
  background-color: theme.$white;
  padding: map-get(theme.$margins, large);
}

.menuRowContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reportStatus {
  margin-left: map-get(theme.$margins, large);
  width: 24px;
  height: 20px;
  border-radius: 50%;
  background-color: theme.$warning;
}

.reportStatusOK {
  background-color: theme.$success;
}

.reportStatusDOWN {
  background-color: theme.$error;
}

.reportBlinking {
  animation: blink 0.5s step-start 0s infinite;
  -webkit-animation: blink 0.5s step-start 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}
