.loader {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  animation: 0.6s ease-out 0s infinite normal none running rotate;
  width: 4.375rem;
  height: 4.375rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 2px 4px);
  display: inline-block;
  vertical-align: middle;
  z-index: 90;
}

.logoSvg {
  margin-top: -18px;
  width: 4.375rem;
  height: 4.375rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderContainer {
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  inset: 0px;
  z-index: 140;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.2s ease-in-out 0s, display 0s linear 0.2s;
  opacity: 1;
  position: fixed;
  display: flex;
  visibility: visible;
}
