/* autoprefixer grid: autoplace */

:root {
  --color-primary: rgb(70, 23, 143);
  --color-white: rgb(255, 255, 255);
  --color-white-bg: rgb(234, 241, 250);
  --color-black: rgb(0, 0, 0);
  --color-darkGray: rgb(51, 51, 51);
  --color-mediumGray: rgb(178, 178, 178);
  --color-lightGray: rgb(204, 204, 204);
  --color-buttonDefault: rgb(19, 104, 206);
  --color-success: rgb(38, 137, 12);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

$backgroundColor: var(--color-primary);

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
}
